.homepage article {
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.homepage article {
        color: #fff;
}
.homepage article > a {
    display: block;
    height: 263px;
    text-decoration: none;
}
.homepage article > a div.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.35);
    color: #fff;
    transition: height 2s ease 0s;
    padding-left: 10px;
    padding-right: 10px;
}
.homepage article a h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.homepage article a p {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: #fff solid 1px;
}
